body{
    background-color: #aaaaaa;
    font-family: Arial;
}
#block{
    width: 800px;
    margin: auto;
    background-color: #efb780;
    padding: 5px;
    margin-top: 0px;
    height: 800px;
    border: 0.5px solid #592d01;
    border-radius: 5px;
}
h1{
    text-decoration: underline;
    color: #924d0d;
    text-align: center;
    592d01, 301d0b, 924d0d
}
h2{
    color: white;
}
h3{
    font-weight: normal;
    color: black; 
}
p{
    color: #592d01;
}
#start_game, #game_stop{
    border-radius: 5px;
    box-shadow: 0;
    border: 1px solid black;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    margin: auto;
    background-color: #f0922d;
    transition-property: background-color, color;
    transition-duration: 1s;
}

#start_stop{
    display: flex;
}
#start_game:hover, #game_stop:hover{
    background-color: #592d01;
    color: #eca863;
    
}
#infoStart{
    transition-property: margin-left;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
#infoStart:hover{
    margin-left: 10px;
}



#number_give{
    border-radius: 5px;
    width: 40px;
    margin-left: 10px;
    box-shadow: 0;
}
#sendNumber{
    border-radius: 5px;
    box-shadow: 0;
    border: 1px solid black;
    background-color: #f0922d;
    padding: 2px 4px 2px 4px;
    transition-property: background-color, color;
    transition-duration: 1s;
}
#sendNumber:hover{
    background-color: #592d01;
    color: #eca863;
}

.h2_color1{
    color: blue;
}
.h2_color2{
    color: yellowgreen;
}
.h2_color3{
    color: palegreen;
}
.h2_color4{
    color: maroon;
}
.h2_color5{
    color: magenta;
}
.configuration_number{
    font-weight: bold;
    color: red;
}

.end{
    color: red;
}
#answer{
    border-bottom: 2px solid rgba(245, 126, 57, 0.904);
    width: 750px;
    margin-top: 30px;
    margin-left: 10px;
    font-weight: normal;
}
#high_score{
    border: 2px solid rgba(0, 0, 0, 0.705);
    width: 300px;
    padding: 0px;
    border-radius: 5px;
    
    margin: auto;
}
h4{
    background: rgb(248, 115, 37);
    padding: 0px;
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid black;
    margin: 0px;
    color: black;
}
#high_score0{
    background: rgb(250, 229, 39);
    padding: 5px;
    margin: 0px;
    text-align: center;
    
}
#high_score1{
    background: rgb(60, 245, 84);
    padding: 5px;
    margin: 0px;
    text-align: center;
}
#high_score2{
    background: rgb(51, 241, 255);
    padding: 5px;
    margin: 0px;
    text-align: center;
}
#high_score3{
    margin: 0px;
    padding: 5px;
    text-align: center;
    background-color: #efb780;
}
#high_score4{
    margin: 0px;
    padding: 5px;
    text-align: center;
    background-color: #ce9f6f;
}
#high_score5{
    margin: 0px;
    padding: 5px;
    text-align: center;
    background-color: #efb780;
}
#high_score6{
    margin: 0px;
    padding: 5px;
    text-align: center;
    background-color: #ce9f6f;
}
#high_score7{
    margin: 0px;
    padding: 5px;
    text-align: center;
    background-color: #efb780;
}
#high_score8{
    margin: 0px;
    padding: 5px;
    text-align: center;
    background-color: #ce9f6f;
}
#high_score9{
    margin: 0px;
    padding: 5px;
    text-align: center;
    background-color: #efb780;
}

footer{
    position: relative;
    top: 150;
    text-align: center;
    margin-top: 150px;
    color: #7a1010;
}

#infosrart_re{
    color: red;
    font-weight: bold;
}